backup/
watermarked-1680px/
watermarked-4000px/
watermarked-6000px/
script_execution_time.txt
.DS_Store
**/.DS_Store
*.DS_Store
#git rm -r --cached static/.DS_Store
.DS_Store
.DS_Store
guetzli_compression_list*
guetzli_compression_list.sh
